@page "/"

@using Morpher.WebService.V3
@using Morpher.WebService.V3.Qazaq

<h1>Программа склонения по падежам на казахском языке</h1>

<p>
    <input @oninput="OnInput" /> @_number
</p>

@if (_exception != null)
{
<pre class="alert-danger">@_exception</pre>
}
else if (_error != null)
{
    <p>@_error</p>
}
else if (_declensionResult != null)
{
<table class="table">
    <thead>
        @if (_declensionResult.Plural != null)
        {
            <tr>
                <th colspan="3"></th>
                <th>Менiң</th> <th>Біздiң</th> <th>Сенiң</th> <th>Сіздiң</th> <th>Оның</th>
            </tr>
            <tr>
                <th colspan="5"></th>
                <th>Сендердiң</th> <th>Сіздердiң</th> <th>Олардың</th>
            </tr>
        }
        else
        {
            <tr>
                <th colspan="3"></th>
                <th>Менiң</th> <th>Біздiң</th> <th>Сенiң, Сендердiң</th> <th>Сіздiң, Сендердiң</th> <th>Оның, Олардың</th>
            </tr>
        }
    </thead>
    <tbody>
        @foreach (var c in Cases)
        {
            <tr>
                <th rowspan="@(_declensionResult.Plural == null ? 1 : 2)">@c.Key.Item2</th>
                <th rowspan="@(_declensionResult.Plural == null ? 1 : 2)"><em>@c.Key.Item1</em></th>
                <td>@c.Value(_declensionResult)</td>
                <td>@c.Value(_declensionResult.FirstPerson)</td>
                <td>@c.Value(_declensionResult.FirstPersonPlural)</td>
                <td>@c.Value(_declensionResult.SecondPerson)</td>
                <td>@c.Value(_declensionResult.SecondPersonRespectful)</td>
                <td>@c.Value(_declensionResult.ThirdPerson)</td>
            </tr>
            @if (_declensionResult.Plural != null)
            {
                <tr>
                    <td>@(c.Value(_declensionResult.Plural))</td>
                    <td>@(c.Value(_declensionResult.Plural.FirstPerson))</td>
                    <td>@(c.Value(_declensionResult.Plural.FirstPersonPlural))</td>
                    <td>@c.Value(_declensionResult.SecondPersonPlural)</td>
                    <td>@c.Value(_declensionResult.SecondPersonRespectfulPlural)</td>
                    <td>@c.Value(_declensionResult.ThirdPersonPlural)</td>
                </tr>
            }
        }
    </tbody>
</table>
}
else
{
    <p> 
        Введите слово для склонения, например, <em>программист</em>.
    </p>
}

@code {

    static readonly Dictionary<(string, string), Func<DeclensionForms, string>> Cases = new Dictionary<(string, string), Func<DeclensionForms, string>>
    {
        {("кім? не?", "Атау"), f => f.Nominative },
        {("кімнің? ненің?", "Ілік"), f => f.Genitive},
        {("кімге? неге? қайда?", "Барыс"), f => f.Dative },
        {("кімде? неде?", "Жатыс"), f => f.Locative},
        {("кімді? нені?", "Табыс"), f => f.Accusative},
        {("кімнен? неден? қайдан?", "Шығыс"), f => f.Ablative},
        {("кіммен? немен? қалай?", "Көмектес"), f => f.Instrumental},
    };

    readonly MorpherClient _morpher = new MorpherClient(Guid.Parse("5579c931-a00c-43cf-a679-e83d28fa078f"));
    
    DeclensionResult _declensionResult;
    Exception _exception;
    string _error;
    string _number;

    void OnInput(ChangeEventArgs e)
    {
        _number = null;
        _error = null;
        _exception = null;
        _declensionResult = null;
        try
        {
            _declensionResult = _morpher.Qazaq.Parse((string) e.Value);
            _number = "Число: " + (_declensionResult.Plural != null ? "единственное" : "множественное");
        }
        catch (ArgumentNotQazaqException)
        {
            _error = "Желательно по-казахски.";
        }
        catch (ArgumentEmptyException)
        {
            
        }
        catch (Exception ex)
        {
            _exception = ex;
        }
    }
}
